<mat-grid-list cols="2" rowHeight="40px">
    <mat-grid-tile colspan="2">Today</mat-grid-tile>
    <mat-grid-tile *ngFor="let item of todaysVideos" rowspan="5" (click)="watchVideo(item.snippet.resourceId.videoId)">
        <mat-card class="highlights-card mat-elevation-z4">
            <img mat-card-image [src]="item.snippet.thumbnails.maxres.url">
            <mat-card-content>
                <p>{{item.snippet.title}}</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">Older</mat-grid-tile>
    <mat-grid-tile *ngFor="let item of olderVideos" rowspan="5" (click)="watchVideo(item.snippet.resourceId.videoId)">
        <mat-card class="highlights-card mat-elevation-z4">
            <img mat-card-image [src]="item.snippet.thumbnails.maxres.url">
            <mat-card-content>
                <p>{{item.snippet.title}}</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>