<mat-list>
    <h3 style="text-align: center;">Games of Today</h3>
    <app-loading *ngIf="loading; else gamesOfTodayList"></app-loading>
    <ng-template #gamesOfTodayList>
        <mat-list-item *ngFor="let game of gamesOfToday">
            <div class="game">
                <div class="game--time">{{ game.time }}</div>
                <div class="game--teams">
                    <div class="game--team-away">{{ game.away.name }}</div>
                    <div class="game--team-home">{{ game.home.name }}</div>
                </div>
                <div class="game--records">
                    <div class="game--record-away">{{ game.away.record }}</div>
                    <div class="game--record-home">{{ game.home.record }}</div>
                </div>
            </div>
        </mat-list-item>
    </ng-template>
</mat-list>
