<mat-button-toggle-group (change)="onStandingsDisplayChange($event)" value="divisions" selected="divisions"
    class="app-button-toggle" #group="matButtonToggleGroup">
    <mat-button-toggle value="divisions">Divisions</mat-button-toggle>
    <mat-button-toggle value="conferences">Conferences</mat-button-toggle>
    <mat-button-toggle value="league">League</mat-button-toggle>
</mat-button-toggle-group>

<app-loading *ngIf="loading; else standingsList;"></app-loading>
<ng-template #standingsList>
    <mat-list>
        <div *ngFor="let data of standingsDisplayData">
            <mat-list-item style="margin-top: 24px;">
                <h3 style="text-align: center; width: 100%;">
                    {{ data.name }}
                </h3>
            </mat-list-item>
            <mat-list-item *ngFor="let team of data.teams">
                <img mat-list-icon src="{{ 'assets/teams/' + team.id + '.gif' }}" style="height: 28px; width: auto;" />
                <h2 mat-line style="font-size: 18px;">{{team.name}}</h2>
                <p mat-line>
                    {{team.record}} | {{team.gamesPlayed}} GP |
                    <span *ngIf="team.plusMinus >= 0; else minusGoalDiff;"
                        style="color: green;">+{{team.plusMinus}}</span>
                    <ng-template #minusGoalDiff><span style="color: red;">{{team.plusMinus}}</span></ng-template>
                    <span style="margin-left: 10px;">{{team.streak}}</span>
                </p>
                <p style="width: 80px;">{{ team.points }} pts.</p>

                <mat-divider></mat-divider>
            </mat-list-item>
        </div>
    </mat-list>
</ng-template>