/* You can add global styles to this file, and also import other style files */
@import "./theme/app-theme.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hnb-subheader {
    font-weight: 400;
    font-style: italic;
    color: darkgray;
}

.hnb-header {
    font-weight: 500;
    font-style: italic;
    color: #514134;
}
