.youtube-link--container {
    position: relative;
    
    padding: 5px;
    height: 100px;
}

.youtube-link--container:hover {
    background: #F0F0F0;
    cursor: pointer;
}

.youtube-link--info {
    position: relative;
    left: 130px;
}

.youtube-link--info div {
    width: calc(100% - 130px);
    display: inline-block;
}

.youtube-link--title {
    font-size: 18px;
}

.youtube-link--date {
    color: #606060;
    font-style: italic;
}

.youtube-link--description {
    margin-top: 4px;
    padding: 2px;
    height: 38px;
    font-size: 12px;
    overflow: scroll;
    overflow-x: hidden;
    border-top: 1px solid #cccccc;
}