* {
    font-family: 'Roboto', serif;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

header * {
    font-family: 'Satisfy', sans-serif;
    font-size: 24px;
    background-color: #111;
    color: white;
}

header .header--title {
    display: block;
    width: calc(100% - (2 * 50px));
    margin: 0 auto;
    text-align: center;
}

header i {
    float: left;
    width: 26px;
    margin: 6px;
}

#nav--sidenav {
    overflow-x: hidden;
    white-space: nowrap;
    transition: 0.5s;
    background-color: #111;
}

#nav--sidenav a {
    padding: 8px 8px 8px 24px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

@keyframes sidenav-animation {
  from {
      background-color: red;
    }
  to {background-color: yellow;}
}

.core--loading-icon {
    display: block;
}
.core--loading-icon img {
    display: block;
    margin: auto;
    width: 64px;
    height: 64px;
}
.core--page-centered {
    position: absolute;
    top: 50%;
    left: calc(50% - (64px / 2));
}

.change-date {
    display: block;
    text-align: center;
}

.change-date * {
    display: inline-block;
}

.hoverable-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.expanded-score-visible {
    display: block;
    padding-bottom: 20px !important;
}