#details-table tr td:first-child #details-table tr th:first-child {
    width: 33.3%;
}

#details-table tr td:last-child #details-table tr th:last-child {
    width: 33.3%;
}

#away-logo {
    margin-right: 5%;
}

#home-logo {
    margin-left: 5%;
}

#stat-selection button {
    width: 33.3%;
    font-size: 12px;
}

.box {
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 2px 0;
    font-size: 10px;
    font-family: 'Consolas';
    text-align: center;
    margin: 2px;
}
  

.box-win {
    background-color: #1fd152;
}
  
.box-loss {
    background-color: #e53434;
}

.last-five td {
    padding: 8px 0;
}
