section {
    border-bottom: 1px solid rgba(0,12,36,.07);
}

.section--container {
    display: block;
    width: 100%;
}

.section--header {
    width: 100%;
    height: 40px;
    margin: 8px 0;
}

.section--header img {
    width: 40px;
    height: 40px;
}

#todays-games {
    display: inline-block;
}

.game {
    display: flex;
    width: 300px;
    height: 34px;
    margin: 8px 0;
}

.game:hover {
    background-color: #efefef;
    cursor: pointer;
}

.game--time {
    text-align: center;
    font-size: 10px;
    padding: 11px 8px;
    border-right: 1px solid rgba(0,12,36,.25);
    color: gray;
}

.game--teams {
    text-align: left;
    width: 180px;
    margin-left: 4px;
}
.game--teams *, .game--records * {
    font-size: 12px;
}

.game--records {
    text-align: right;
    width: 60px;
}
